*{
    margin: 0;
    padding: 0;
} 

.explore{
    display: block;
    width: 50%;
    max-width: 350px;
    background: gold;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 0;
    border-radius: 30px;
    margin: 60px auto;
    font-size: 18px;
    transition: transform 0.5s;s
}
.explore:hover{
    transform: scale(0.9);
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
}
.row p{
    color: black;
    cursor: default;
}
.col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.layout{
	width: auto;
	background-color: white;
	height: 400px;
}
.row{
    margin-top: 5%;
    display: inline-flex;
    justify-content: space-around; 
}
.one{
    flex-basis: 50%;
    background: #990000;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 20px;
    box-sizing: border-box;

}
.one:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.one p{
	color: white;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}